.item{
    border: black;
    padding: 10px;
    display: flex;
    width: 310px;
    margin: 10px;

}
.card-img{
    height: 100px;

}

.cards-components{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.name{
    text-decoration: none;
}
