.card{
    display: flex;
    flex-direction: column;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 10px;
    text-decoration: none;
}