.button-card{
    background-color: rgb(182, 182, 182);
    color: white;
    justify-content: center;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.botones{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}