.counter-section{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-left: 20px;
    
}
.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(182, 182, 253);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    
}